

Webpack/.pnp.*
Webpack/.yarn/*
!Webpack/.yarn/patches
!Webpack/.yarn/plugins
!Webpack/.yarn/releases
!Webpack/.yarn/sdks
!Webpack/.yarn/versions

Webpack/node_modules

hubspot.config.yml

#ignore hubspot files, managed by hubspot repo
yourHubspotProjectName/ 
