

Webpack/.yarn/*
!Webpack/.yarn/cache
!Webpack/.yarn/patches
!Webpack/.yarn/plugins
!Webpack/.yarn/releases
!Webpack/.yarn/sdks
!Webpack/.yarn/versions

hubspot.config.yml

#ignore hubspot files, managed by hubspot repo
yourHubspotProjectName/ 
